html, body {
    margin: 0;
}

.profile > .background {
    background-image: url(https://s3-eu-west-1.amazonaws.com/lukaslindqvistdotse/public/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.content > .source {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

.source > a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fff;
}

.background > .overlay {
    width: 100%;
    height: 100%;
    opacity: .6;
    background: #000;
}

.profile > .content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    position: absolute
}

.content > .centered {
    max-width: 50%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.centered > * {
    margin-top: 20px;
}

.centered > .name {
    text-align: center;
    font-size: 120%;
}

.centered > .description {
    text-align: center;
}
